<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link href="http://fonts.googleapis.com/css?family=Roboto" media="screen" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" media="screen" rel="stylesheet">

    {% assets "css_vendor" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "css_theme" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "js_vendor" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "js_app" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "js_theme" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block knockout_template %}

    {% endblock %}

    {% block advanced_js %}

    {% endblock %}

    <title>Wordeater - GDT service for learning foreign words</title>
</head>

<body>
    <section class="hbox stretch">
        {% block main_navigation %}

            {# Не опечатка. Требуется для пробрасывания значения active_page из шаблона страниц в шаблон навигации. #}
            {% set active_page = active_page %}

            {% include "components/navigation.html" %}

        {% endblock %}

        <section id="content">
            <section class="hbox stretch bg-white-only">
                <!-- .aside -->
                <aside class="aside aside-lg b-r">
                  <section class="vbox">
                    <header class="header text-center">
                      <p class="h4">Project name</p>
                    </header>
                    <section class="wrapper">
                      <div class="text-center clearfix">
                        <a href="#" class="btn btn-success m-b-lg"><i class="fa fa-plus"></i> Create project</a>
                      </div>
                      <div id="calendar" class="m-t-lg">

                      </div>
                      <div class="list-group bg-white">
                        <a href="#" class="list-group-item text-ellipsis">
                          <span class="badge bg-danger">7:30</span>
                          Meet a friend
                        </a>
                        <a href="#" class="list-group-item text-ellipsis">
                          <span class="badge bg-success">9:30</span>
                          Have a kick off meeting with .inc company
                        </a>
                        <a href="#" class="list-group-item text-ellipsis">
                          <span class="badge bg-light">19:30</span>
                          Milestone release
                        </a>
                      </div>
                    </section>
                  </section>
                </aside>

                {% block content %}

                {% endblock %}

            </section>

        </section>
    </section>

{% block modals %}

{% endblock %}

{% block footer_page %}

{% endblock %}

</body>
</html>