{% extends "page.html" %}
{% set active_page = "learning" %}

{% block advanced_js %}
<script lang="javascript" src="{{ url_for('static', filename='js/modules/words.js') }}"></script>
<script src="{{ url_for('static', filename='js/charts/easypiechart/jquery.easy-pie-chart.js') }}"></script>
{% endblock %}

{% block page_content %}
    <section class="panel">
        <header class="panel-heading font-bold">Темы для изучения</header>
        <section class="panel no-borders" data-bind="foreach: groups">
          <div class="row">
           <div class="col-md-2 wrapper m-l">
              <div class="inline m-t-sm">
                <div class="easypiechart easyPieChart"
                 data-percent="60"
                 data-line-width="8"
                 data-bar-color="#ffffff"
                 data-track-color="#c79d43"
                 data-scale-color="false" data-size="100" style="width: 100px; height: 100px; line-height: 100px;">
                  <span class="h2"></span>%
                <canvas width="100" height="100"></canvas></div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="wrapper">
                <p>All time sales</p>
                <p class="h2 font-bold">32.5%</p>

                <div class="text-sm">of visitors purchased this item.</div>
              </div>
            </div>

          </div>
        </section>
    </section>
{% endblock %}