{% extends "base.html" %}

{% block content %}

<aside class="">
  <section class="vbox">
    {% set active_page = active_page %}
    {% include "components/top_navigation.html" %}

    <section>
      <section class="hbox stretch">
        <aside>
            <section class="vbox">
                <section class="scrollable wrapper">
                   {% block page_content %}

                   {% endblock %}
                </section>
            </section>
        </aside>
      </section>
    </section>
  </section>
</aside>

{% endblock %}